<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
  <title>百科搜索，专业的本地商家搜索引擎</title>
  <link rel="stylesheet" href="__PUBLIC__/css/html.css?t=1443370433" />
  <link rel="stylesheet" href="__PUBLIC__/css/index.css?t=1443370433" />
  <script src="http://api.map.baidu.com/api?v=2.0&amp;ak={:C('baidu_ak')}" type="text/javascript"></script>
  <script type="text/javascript" src="http://developer.baidu.com/map/custom/stylelist.js"></script>
  <script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
  <script src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/weizhi.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/index.js" type="text/javascript"></script>
 </head>
 <body onload="seth();">
  <script>
        if(isWeiXin()){
                //alert("您使用的是微信浏览器");
            var pointType = 0;
        }else{
                //alert("您使用的不是微信浏览器");
            var pointType = 0;
        }
        function isWeiXin(){
            var ua = window.navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i) == 'micromessenger'){
                return true;
            }else{
                return false;
            }
        }
        //获取浏览器内核,判断是否为WebKit
        function neihe() {
            var ua = window.navigator.userAgent.toLowerCase();
            if(ua.match(/qq/i)=='qq'){
                //alert('是WebKit内');
                return true;
            }else{
                //alert('不是WebKit内');
            return false;
            }
        }

        //body高度修正
        function seth(){
            var h = $('#container').height();
            var nh = parseInt(h)-80;
            $('#container').css({'height':nh,'margin-top':'80px'});
        }
        </script>
  <div class="banner" style="height:50px;position:fixed;top:0px;left:0px;width:100%;background:#222;z-index:666">
   <img src="__PUBLIC__/img/more.gif" style="width:100%;height:50px;" />
  </div>
  <style>
        .allicon{
            margin-top:10px;
            height:10px;
            witdh:10px;
        }

        #backMy {
          position: fixed;
          bottom: 1px;
          left: 4px;
          padding: 0px;
          margin: 0px;
          font-size: 14px;
          padding: 2px;
        }
        </style>
  <div class="indexNav">
   <table style="width:100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
     <tr>
      <td style="width:23%"> <button class="allShop"><font style="color:#333333"><b>全部</b></font> <img src="__PUBLIC__/img/DOWN.png" class="allicon" /></button> </td>
      <td style="width:1.5%"></td>
      <td style="width:55%">
       <div class="searchBox">
        <form action="{:U('Index/index')}" method="get">
         <input value="" name="k" id="suggestId" placeholder=" 请输入商家名称或关键词" />
         <button id="addressBtn">搜索</button>
        </form>
       </div>
       <div class="reslist" style="overflow-y: auto;max-height: 280px;display:none;"></div>
       </td>
      <td style="width:1.5%"></td>
      <td style="width:19%"> <a href="{:U('Merchant/in')}"><button class="reg"><font style="color:#333333"><b>入驻</b></font></button></a> </td>
     </tr>
    </tbody>
   </table>
  </div>
  <div class="moreShop" style="display:none;">
   <div class="view">
    <ul class="m-list">
     <volist name="class_list" id="class_vo">
      <li><a href="{:U('index', array('class_id' => $class_vo['id']))}">{$class_vo['name']}
        <div class="sums">
         {$class_vo.count}`
        </div></a></li>
     </volist>
    </ul>
   </div>
  </div>
  <div id="container"></div>
  <div id="searchResultPanel" style="position:fixed;z-index:999;padding-bottom:20px;width:250px; "></div>
  <button id="backMy" onclick="blackT();">我的位置</button>
  <!--底部弹窗-->
  <div class="window_b">
   <button class="closeBTN">X</button>
   <div class="contents">
   </div>
  </div>
  <script>
  $(function() {
    var j = 0;
    $('.allShop').click(function() {
        $('.moreShop').slideToggle();
        if (j == 0) {
            $(this).html('<font style="color:#333333"><b>全部</b></font> <img src="__PUBLIC__/img/UP.png" class="allicon"/>');
            j = 1;
        } else {
            $(this).html('<font style="color:#333333"><b>全部</b></font> <img src="__PUBLIC__/img/DOWN.png" class="allicon"/>');
            j = 0;
        }
    });

    $('.moreShop').click(function() {
        $('.moreShop').slideToggle();
        if (j == 0) {
            $('.allShop').html('<font style="color:#69958c"><b>全部</b></font> <img src="__PUBLIC__/img/UP.png" class="allicon"/>');
            j = 1;
        } else {
            $('.allShop').html('<font style="color:#a7a7a7"><b>全部</b></font> <img src="__PUBLIC__/img/DOWN.png" class="allicon"/>');
            j = 0;
        }
    });
    $('#suggestId').dblclick(function() {
        $('.searchBox').hide();
    });
    $('#ser').click(function() {
        $('.searchBox').toggle();
    });
    $('#more').click(function() {
        $('.moreBox').toggle();
    });
    $('#moreClose').click(function() {
        $('.moreBox').toggle();
    });

});

//初始化百度地图
        var map = new BMap.Map("container",{minZoom: 4,
        maxZoom: 18});

        map.addEventListener('load', function(){
          map.addControl(new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT}));
          map.addControl(new BMap.NavigationControl());
           //添加控件
          map.enableScrollWheelZoom();
        })

        //定位
        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
          if(this.getStatus() == BMAP_STATUS_SUCCESS){
              var point = new BMap.Point(r.point.lng, r.point.lat);
              map.centerAndZoom(point,18);
              //定位当前位置
              var myIcon = new BMap.Icon("./Static/img/i.png", new BMap.Size(23, 25), {offset: new BMap.Size(10, 15)});
              var marker = new BMap.Marker(point,{icon: myIcon});
              map.addOverlay(marker);
              marker.enableDragging();

              var docs = $('.window_b');
              //显示商家坐标
              <volist name="list" id="vo">
                var point = new BMap.Point({$vo.coordinate});
                <if condition="!empty($vo['icon'])">
                    var myIcon = new BMap.Icon("{$vo.icon}", new BMap.Size(15,15));
                <else />
                    var myIcon = new BMap.Icon("__PUBLIC__/img/icon/1.png", new BMap.Size(16,16));
                </if>
                var marker{$vo.id} = new BMap.Marker(point,{icon:myIcon});
                map.addOverlay(marker{$vo.id});
                marker{$vo.id}.addEventListener("click",
                    function() {
                        if (docs.css('display') == 'none') {
                            $('.contents').html('信息正在加载中...');
                            docs.css({
                                'display': 'inline'
                            });
                        } else {
                            docs.css({
                                'display': 'none'
                            });
                        }
                        eval("getInfo(\'{$vo.id}\')");
                        //操作结束
                    });
                    var label{$vo.id} = new BMap.Label("{$vo.name}", {
                        offset: new BMap.Size(20, -0)
                    });
                    label{$vo.id}.setStyle({
                        color:'#333',
                        border : 'none',
                        'background' : 'none',
                        'font-family' : '微软雅黑',
                        'letter-spacing' : '1px',
                        'margin-left' : '2px',
                        'margin-top' : '1px',
                    });
                marker{$vo.id}.setLabel(label{$vo.id});
              </volist>
          } else {
              alert('failed'+this.getStatus());
          }
        })

function getInfo(ids) {
    $.ajax({
        url : "{:U('Index/getInfo')}",
        type: 'POST',
        data: {
            id: ids
        },
        success: function(i) {
            if (i.status == 1) {
                var data = i.info;
                var html = '';
                    html += ' ';
                    html += '<div class="title" style="text-align:center;"><font class="title_left">商家信息</font></div>';
                    html += '<div class="contentBox">';
                    html += '<div class="picBox">';
                    html += '<div style="float:left;width:100%;text-align:center">';
                    if (data.img_list != '') {
                        $.each(data.img_list, function(i,e){
                            html += '<img src="'+e+'" style="width:90%"/>&nbsp;&nbsp;';
                        })
                    }

                    html += '</div><div style="float:left;width:30%;"></div></div>';
                    html += '<div style="clear:both"></div>';
                    html += '<div class="line"></div>';
                    if (data.is_good == 1) {
                      html += '商家名称:' + data.name + '&nbsp;&nbsp;<span style="float:right;"><a href="javascript:void(0);" style="color:#000"><img src="__PUBLIC__/img/good.png" alt="" style="width: 23px;vertical-align: bottom;"/>已赞</a></span>';
                    } else {
                      html += '商家名称:' + data.name + '&nbsp;&nbsp;<span style="float:right;"><a href="{:U("Index/good")}&merchant_id='+data.id+'" onclick="return good(this);" style="color:#000"><img src="__PUBLIC__/img/good.png" alt="" style="width: 23px;vertical-align: bottom;"/>赞</a></span>';
                    }

                    html += '<div class="line"></div>';
                    html += '商家地址:' + data.address;
                    html += '<div class="line"></div>';
                    if (data.url != '') {
                        html += '商家网站：<a href="' + data.url + '" target="_blank">点击进入商家网站</a>';
                        html += '<div class="line"></div>';
                    }
                    html += '商家电话：' + data.phone;
                    html += '<div class="line"></div>';
                    html += '</div>';
                $('.contents').html(html);
            } else {
                alert('暂时获取不到信息哦亲');
            }
        }
    });
}

//返回我的位置
function blackT(){
    var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
          if(this.getStatus() == BMAP_STATUS_SUCCESS){
              var point = new BMap.Point(r.point.lng, r.point.lat);
              map.centerAndZoom(point,18);
          } else {
              alert('failed'+this.getStatus());
          }
      })
}

function good(dom){
  var url = $(dom).attr('href');

  $.ajax({
    url : url,
    dataType : 'json',
    success : function (i) {
      if (i.status == 1) {
        $(dom).html('<img src="__PUBLIC__/img/good.png" alt="" style="width: 23px;vertical-align: bottom;"/>已赞');
      } else {
        alert('您已经点过了');
      }
    }
  })
  return false;
}

$(function() {
    $('.closeBTN').click(function() {
        $('.window_b').css({
            'display': 'none'
        });
    });
});


    </script>
  <div style="display:none">
   <script language="javascript" type="text/javascript" src="http://js.users.51.la/18190640.js"></script>
  </div>
 </body>
</html>