<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>百科搜索，专业的本地商家搜索引擎</title>
  <link rel="stylesheet" href="__PUBLIC__/css/html.css?t=1443370433" />
  <link rel="stylesheet" href="__PUBLIC__/css/index.css?t=1443370433" />
  <script src="http://api.map.baidu.com/api?v=2.0&amp;ak={:C('baidu_ak')}" type="text/javascript"></script>
  <script type="text/javascript" src="http://developer.baidu.com/map/custom/stylelist.js"></script>
  <script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
  <script src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/weizhi.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/index.js" type="text/javascript"></script>
 </head>
 <body onload="seth();">
  <script>
        if(isWeiXin()){
                //alert("您使用的是微信浏览器");
            var pointType = 0;
        }else{
                //alert("您使用的不是微信浏览器");
            var pointType = 0;
        }
        function isWeiXin(){
            var ua = window.navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i) == 'micromessenger'){
                return true;
            }else{
                return false;
            }
        }
        //获取浏览器内核,判断是否为WebKit
        function neihe() {
            var ua = window.navigator.userAgent.toLowerCase();
            if(ua.match(/qq/i)=='qq'){
                //alert('是WebKit内');
                return true;
            }else{
                //alert('不是WebKit内');
            return false;
            }
        }

        //body高度修正
        function seth(){
            var h = $('#container').height();
            var nh = parseInt(h)-80;
            $('#container').css({'height':nh,'margin-top':'80px'});
        }
        </script>
  <div class="banner" style="height:50px;position:fixed;top:0px;left:0px;width:100%;background:#222;z-index:666">
   <img src="__PUBLIC__/img/more.gif" style="width:100%;height:50px;" />
  </div>
  <style>
        .allicon{
            margin-top:10px;
            height:10px;
            witdh:10px;
        }

        #backMy {
          position: fixed;
          bottom: 1px;
          left: 4px;
          padding: 0px;
          margin: 0px;
          font-size: 14px;
          padding: 2px;
        }
        </style>
  <div class="indexNav">
   <table style="width:100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
     <tr>
      <td style="width:23%"> <button class="allShop"><font style="color:#333333"><b>全部</b></font> <img src="__PUBLIC__/img/DOWN.png" class="allicon" /></button> </td>
      <td style="width:1.5%"></td>
      <td style="width:55%">
       <div class="searchBox">
        <form action="{:U('Index/index')}" method="get">
         <input value="" name="k" id="suggestId" placeholder=" 请输入商家名称或关键词" />
         <button id="addressBtn">搜索</button>
        </form>
       </div>
       <div class="reslist" style="overflow-y: auto;max-height: 280px;display:none;"></div>
       </td>
      <td style="width:1.5%"></td>
      <td style="width:19%"> <a href="{:U('Merchant/in')}"><button class="reg"><font style="color:#333333"><b>入驻</b></font></button></a> </td>
     </tr>
    </tbody>
   </table>
  </div>
  <div class="moreShop" style="display:none;">
   <div class="view">
    <ul class="m-list">
     <volist name="class_list" id="class_vo">
      <li><a href="{:U('index', array('class_id' => $class_vo['id']))}">{$class_vo['name']}
        <div class="sums">
         {$class_vo.count}`
        </div></a></li>
     </volist>
    </ul>
   </div>
  </div>
  <div id="container"></div>
  <div id="searchResultPanel" style="position:fixed;z-index:999;padding-bottom:20px;width:250px; "></div>
  <button id="backMy" onclick="blackT();">我的位置</button>
  <!--底部弹窗-->
  <div class="window_b">
   <button class="closeBTN">X</button>
   <div class="contents">
   </div>
  </div>
  <script>
  $(function() {
    var j = 0;
    $('.allShop').click(function() {
        $('.moreShop').slideToggle();
        if (j == 0) {
            $(this).html('<font style="color:#333333"><b>全部</b></font> <img src="__PUBLIC__/img/UP.png" class="allicon"/>');
            j = 1;
        } else {
            $(this).html('<font style="color:#333333"><b>全部</b></font> <img src="__PUBLIC__/img/DOWN.png" class="allicon"/>');
            j = 0;
        }
    });

    $('.moreShop').click(function() {
        $('.moreShop').slideToggle();
        if (j == 0) {
            $('.allShop').html('<font style="color:#69958c"><b>全部</b></font> <img src="__PUBLIC__/img/UP.png" class="allicon"/>');
            j = 1;
        } else {
            $('.allShop').html('<font style="color:#a7a7a7"><b>全部</b></font> <img src="__PUBLIC__/img/DOWN.png" class="allicon"/>');
            j = 0;
        }
    });
    $('#suggestId').dblclick(function() {
        $('.searchBox').hide();
    });
    $('#ser').click(function() {
        $('.searchBox').toggle();
    });
    $('#more').click(function() {
        $('.moreBox').toggle();
    });
    $('#moreClose').click(function() {
        $('.moreBox').toggle();
    });

});

if (window.navigator.geolocation) {
    var options = {
        enableHighAccuracy: true,
    };
    window.navigator.geolocation.getCurrentPosition(handleSuccess, handleError, options);
} else {
    alert("浏览器不支持html5来获取地理位置信息");
}

function handleSuccess(position) {
    var opts = {
        anchor: BMAP_ANCHOR_BOTTOM_RIGHT
    }
    var lng = position.coords.longitude;
    var lat = position.coords.latitude;
    var map = new BMap.Map("container", {
        minZoom: 4,
        maxZoom: 18
    });

    window.map = map;
    var ggPoint = new BMap.Point(lng, lat);

    var myIcon = new BMap.Icon("__PUBLIC__/img/i.png", new BMap.Size(23, 25), {
        offset: new BMap.Size(10, 15),

        imageOffset: new BMap.Size(0, 0)
    });

    var rIcon1 = new BMap.Icon("__PUBLIC__/img/icon/11.png", new BMap.Size(23, 25), {
        offset: new BMap.Size(10, 15),
        imageOffset: new BMap.Size(0, 0)
    });

    var rIcon2 = new BMap.Icon("__PUBLIC__/img/icon/12.png", new BMap.Size(23, 25), {
        offset: new BMap.Size(10, 15),
        imageOffset: new BMap.Size(0, 0)
    });
    var rIcon3 = new BMap.Icon("__PUBLIC__/img/icon/13.png", new BMap.Size(23, 25), {
        offset: new BMap.Size(10, 15),
        imageOffset: new BMap.Size(0, 0)
    });
    var rIcon4 = new BMap.Icon("__PUBLIC__/img/icon/14.png", new BMap.Size(23, 25), {
        offset: new BMap.Size(10, 15),
        imageOffset: new BMap.Size(0, 0)
    });
    var rIcon5 = new BMap.Icon("__PUBLIC__/img/icon/15.png", new BMap.Size(23, 25), {
        offset: new BMap.Size(10, 15),
        imageOffset: new BMap.Size(0, 0)
    });

    var rIcon = new BMap.Icon("__PUBLIC__/img/red.png", new BMap.Size(23, 25), {
        offset: new BMap.Size(10, 15),
        imageOffset: new BMap.Size(0, 0)
    });

    BMap.Convertor.translate(ggPoint, pointType,
        function(point) {
            var style = [{
                "featureType": "poi",
                "elementType": "all",
                "stylers": {
                    "visibility": "off"
                }
            }]

        map.setMapStyle({
            styleJson: style
        });

        var opts = {
            type: BMAP_NAVIGATION_CONTROL_LARGE
        }
        map.addControl(new BMap.NavigationControl(opts));
        map.addControl(new BMap.ScaleControl());
        map.centerAndZoom(point, 17);

        /*
        定位当前位置
        */
        var marker = new BMap.Marker(point, {
            icon: myIcon
        });
        map.addOverlay(marker);
        marker.enableDragging();
        var geoc = new BMap.Geocoder();

        /*
        为当前位置点击添加监听
        */
        marker.addEventListener("click",
        function(e) {
            var center = map.getCenter();
            if (docs.css('display') == 'none') {
                $('.contents').html('信息正在加载中...');
                var p = e.target;
                var pt = p.getPosition();
                geoc.getLocation(pt,
                function(rs) {
                    var addComp = rs.addressComponents;
                    var htmlcontent = addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;
                    var htmli = myHtml(htmlcontent);
                    $('.contents').html(htmli);
                });

                docs.css({
                    'display': 'inline'
                });
            } else {
                docs.css({
                    'display': 'none'
                });
            }
            //操作结束
        });

        var docs = $('.window_b');
        //从服务器获取商家的点

        <volist name="list" id="vo">
            var myIcon = new BMap.Icon("{$vo.icon}", new BMap.Size(50,50));
            var marker{$vo.id} = new BMap.Marker(new BMap.Point({$vo.coordinate}), {
                icon: myIcon
            });
            map.addOverlay(marker{$vo.id});
            marker{$vo.id}.addEventListener("click",
            function() {
                if (docs.css('display') == 'none') {
                    $('.contents').html('信息正在加载中...');
                    docs.css({
                        'display': 'inline'
                    });
                } else {
                    docs.css({
                        'display': 'none'
                    });
                }
                eval("getInfo(\'{$vo.id}\')");
                //操作结束
            });
            var label{$vo.id} = new BMap.Label("{$vo.name}", {
                offset: new BMap.Size(20, -0)
            });
            label{$vo.id}.setStyle({
                color: "#222",
                fontSize: "12px",
                height: "20px",
                lineHeight: "20px",
                fontFamily: "微软雅黑",
                borderStyle: "solid",
                borderColor: '#fff',
                textAlign: 'center',
                borderSize: '0px',
                padding: '0',
                margin: '0',
                width: 'auto'
            });
            marker{$vo.id}.setLabel(label{$vo.id});
        </volist>

        var cvars = '涿州市';
        function myFun2(result) {
            var cityName = result.name;
            cvars = cityName;
        }
        var myCity = new BMap.LocalCity();
        myCity.get(myFun2);

        //返回中心的
        var btn = document.getElementById("backMy");
        //addEventListener：绑定函数
        btn.addEventListener("click",
        function() {
            map.panTo(point)
        });
    });

    var opts = {
        type: BMAP_NAVIGATION_CONTROL_LARGE
    }
    map.addControl(new BMap.NavigationControl(opts));
    map.addControl(new BMap.ScaleControl({
        anchor: BMAP_ANCHOR_BOTTOM_LEFT
    }));

    map.disable3DBuilding();
}
function getInfo(ids) {
    $.ajax({
        url : "{:U('Index/getInfo')}",
        type: 'POST',
        data: {
            id: ids
        },
        success: function(i) {
            if (i.status == 1) {
                var data = i.info;
                console.log(data);
                var html = '';
                    html += ' ';
                    html += '<div class="title" style="text-align:center;"><font class="title_left">商家信息</font></div>';
                    html += '<div class="contentBox">';
                    html += '<div class="picBox">';
                    html += '<div style="float:left;width:100%;">';
                    if (data.img_list != '') {
                        $.each(data.img_list, function(i,e){
                            html += '<img src="'+e+'" style="width:100px"/>&nbsp;&nbsp;';
                        })
                    }

                    html += '</div><div style="float:left;width:30%;"></div></div>';
                    html += '<div style="clear:both"></div>';
                    html += '<div class="line"></div>';
                    html += '商家名称:' + data.name;
                    html += '<div class="line"></div>';
                    html += '商家地址:' + data.address;
                    html += '<div class="line"></div>';
                    if (data.url != '') {
                        html += '商家网站：<a href="' + data.url + '" target="_blank">点击进入商家网站</a>';
                        html += '<div class="line"></div>';
                    }
                    html += '商家电话：' + data.phone;
                    html += '<div class="line"></div>';
                    html += '</div>';
                $('.contents').html(html);
            } else {
                alert('暂时获取不到信息哦亲');
            }
        }
    });
}

function myHtml(a) {
    var str = '<div class="title" style="text-align:center"><font class="title_left" style="text-align:center;margin:0px;">我的位置信息</font></div>' + '<div class="contentBox">' + a + '<div class="line"></div>' + '</div>';
    return str;
}

function handleError(error) {
    var map = new BMap.Map("container");
    var point = new BMap.Point(116.331398, 39.897445);
    map.centerAndZoom(point, 16);
    function myFun(result) {
        var cityName = result.name;
        map.setCenter(cityName);

    }
    var myCity = new BMap.LocalCity();
    myCity.get(myFun);
}
$(function() {
    $('.closeBTN').click(function() {
        $('.window_b').css({
            'display': 'none'
        });
    });
});


    </script>
  <div style="display:none">
   <script language="javascript" type="text/javascript" src="http://js.users.51.la/18190640.js"></script>
  </div>
 </body>
</html>