<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
  <title>门店上传</title>
  <link rel="stylesheet" href="__PUBLIC__/css/in.css" />
  <script src="__PUBLIC__/js/jquery.js"></script>
  <script src="http://api.map.baidu.com/api?v=3.0&amp;ak={:C('baidu_ak')}" type="text/javascript"></script>
 </head>
 <body>
  <script>
    if(isWeiXin()){
        //alert("您使用的是微信浏览器");
        var pointType = 0;
    }else{
        //alert("您使用的不是微信浏览器");
        var pointType = 2;
    }
function isWeiXin(){
var ua = window.navigator.userAgent.toLowerCase();
if(ua.match(/MicroMessenger/i) == 'micromessenger'){
return true;
}else{
return false;
}
}
function neihe() {
    var ua = window.navigator.userAgent.toLowerCase();
    if(ua.match(/qq/i)=='qq'){
        //alert('是WebKit内');
      return true;
  }else{
        //alert('不是WebKit内');
  return false;
  }
}
</script>
  <div class="sj-nav">
   <div class="black">
    <a href="{:U('Index/index')}">返回</a>
   </div> 门店上传
   <div class="black" style="float:right">
    <a href="?">刷新</a>
   </div>
  </div>

  <div class="sj-con">
   <form action="{:U('Merchant/insert')}" method="POST" enctype="multipart/form-data" onsubmit="return ajaxForm(this)">
    <p><label>商家名称</label><input value="" name="name" /></p>
    <div class="line"></div>
    <p><label>联 &nbsp;系&nbsp;&nbsp;人</label><input value="" name="contact" /></p>
    <div class="line"></div>
    <p><label>联系电话</label><input value="" name="phone" /></p>
    <div class="line"></div>
    <p><label>商家网站</label><input value="" name="url" /></p>
    <div class="line"></div>
    <p><label>商户分类</label>
    <select name="class_id" style="width:180px;height:30px;" id="class_id">
        <volist name="class_list" id="class_vo">
            <option value="{$class_vo.id}">{$class_vo.name}</option>
        </volist>
    </select></p>
    <div class="line" style="clear:both"></div>
    <div class="pr">
     <h4 style="width:65px;float:left;font-weight:normal;font-family: '微软雅黑';font-size:14px;margin-right:5px;">门店图片</h4>
     <ul class="img-preview-list clearfix" id="main_imagePreviewList">
      <li id="main_fileInputList">
       <div class="iconfont icon-add-2 size28 abs-mm gray-1"></div> <input class="file-input" type="file" id="main_fileInput" name="picUpload" accept="image/*" /> </li>
     </ul>
    </div>
    <input type="hidden" name="img_data" id="img_data" />
    <div class="line" style="clear:both"></div>
    <p> </p>
    <div id="map" style="z-index:1;width:100%;height:300px">
    </div>
    <a href="javascript:void(0)" id="fuwei" onclick="blackT()">我的位置</a>
    <p></p>
    <div style="clear:both;"></div>
    <div class="line"></div>
    <p><label>门店地址</label>
    <input value="" id="address" readonly="readonly" />
    <input value="" name="address" type="hidden">
    </p>
    <div class="line"></div>
    <div>
     <p><label>门店坐标</label>
     <input value="" name="zb-x" style="width:50px;" type="hidden"/>&nbsp;
     <input value="" name="zb-y" style="width:50px;" type="hidden"/>
     <input value="" id="zb-x" style="width:50px;" type="text" readonly="readonly"/>&nbsp;
     <input value="" id="zb-y" style="width:50px;" type="text" readonly="readonly"/>
     <font style="color:red">&nbsp;(*通常不需要修改)</font></p>
     <div class="line"></div>
    </div>
    <div style="text-align:center;margin-top: 10px;">
     <input value="确定上传" type="submit" name="submit" class="tijiao"/>
    </div>
   </form>
   <script type="text/javascript" src="__PUBLIC__/js/lrz.mobile.min.js"></script>
   <script type="text/javascript" src="__PUBLIC__/js/imageupload.js"></script>
   <script>
      //初始化百度地图
        var map = new BMap.Map("map",{minZoom: 4,
        maxZoom: 18});
        map.enableScrollWheelZoom();

        map.addEventListener('load', function(){
          map.addControl(new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT}));
          map.addControl(new BMap.NavigationControl());
           //添加控件
          map.enableScrollWheelZoom();
        })

        //定位
        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
          if(this.getStatus() == BMAP_STATUS_SUCCESS){
              var point = new BMap.Point(r.point.lng, r.point.lat);
              map.centerAndZoom(point,18);
              //显示商家坐标
              <volist name="merchant_list" id="merchant_vo">
                var point = new BMap.Point({$merchant_vo.coordinate});
                <if condition="!empty($vo['icon'])">
                    var myIcon = new BMap.Icon("{$vo.icon}", new BMap.Size(15,15));
                <else />
                    var myIcon = new BMap.Icon("__PUBLIC__/img/icon/1.png", new BMap.Size(16,16));
                </if>
                addMarker(point, myIcon);
              </volist>
              //添加中心点坐标
              var cp = map.getCenter();
              var mk = new BMap.Marker(new BMap.Point(cp.lng,cp.lat));
              map.removeOverlay(mk);
              map.addOverlay(mk);
              mk.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
              $('#zb-x').val(r.point.lng);
              $('[name=zb-x]').val(r.point.lng);
              $('#zb-y').val(r.point.lat);
              $('[name=zb-y]').val(r.point.lat);
              //地图移动事件
              map.addEventListener("dragend", function showInfo(){
                var cp = map.getCenter();
                mk.setPosition(new BMap.Point(cp.lng, cp.lat));
                $('#zb-x').val(cp.lng);
                $('[name=zb-x]').val(cp.lng);
                $('#zb-y').val(cp.lat);
                $('[name=zb-y]').val(cp.lat);

                var geoc = new BMap.Geocoder();
                var pt = new BMap.Point(cp.lng,cp.lat);

                geoc.getLocation(pt, function(rs){
                    var addComp = rs.addressComponents;
                    address = addComp.city  + addComp.district  + addComp.street + addComp.streetNumber;
                    $('#address').val(address);
                    $('[name="address"]').val(address);
                })
              });
          } else {
              alert('failed'+this.getStatus());
          }
        })

        //添加标注点
        function addMarker(point, icon){
            var marker = new BMap.Marker(point, {icon:icon});
            map.addOverlay(marker);
        }

        function del_pic(){
            $(".main-img-del").parents('li').remove();
            $('#main_fileInputList').show();
        }

//上传封面
$("#main_fileInput").change(function(){
        $("#main_fileInputList").hide();
    var objUrl = getObjectURL(this.files[0]) ;
    var $fileInputList = $("#main_fileInputList");
    var $imgLi = $('<li style="height:110px"><div class="abs-mm ta-c pct100"><div class="iconfont icon-loading upload-img"><p class="mt5 size12"></p></div></div><div class="previewImg fullLayer abs-lt" style="display: none"></div><div class="main-img-del" onclick="del_pic()"></div></li>');
        $imgLi.insertBefore($fileInputList);
        $imgLi.find(".previewImg").css("height", "110px");
        $imgLi.find(".previewImg").css("background-image", "url(" + objUrl + ")").show();
        lrz(this.files[0], {
            quality:0.8,
          // 压缩成功
            done: function (results) {
                  var base64 = results.base64;
                  $.ajax({
                    url : "{:U('Public/upload')}",
                    data : {
                        base64 : base64
                    },
                    type : 'post',
                    dataType : 'json',
                    success : function (i){
                        if (i.status == 1) {
                            $("#img_data").val(i.path);
                        } else {
                            alert(i.info);
                        }
                    }
                  })
            }
        });
});

//返回我的位置
function blackT(){
    var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
          if(this.getStatus() == BMAP_STATUS_SUCCESS){
              var point = new BMap.Point(r.point.lng, r.point.lat);
              map.centerAndZoom(point,18);
          } else {
              alert('failed'+this.getStatus());
          }
      })
}

//建立一個可存取到該file的url
function getObjectURL(file) {
    var url = null ;
    if (window.createObjectURL!=undefined) { // basic
        url = window.createObjectURL(file) ;
    } else if (window.URL!=undefined) { // mozilla(firefox)
        url = window.URL.createObjectURL(file) ;
    } else if (window.webkitURL!=undefined) { // webkit or chrome
        url = window.webkitURL.createObjectURL(file) ;
    }
    return url ;
}
  function ajaxForm(dom) {
    var url = $(dom).attr('action');
    var name = $("input[name=name]").val();
    var contact = $("input[name=contact]").val();
    var data_url = $("input[name=url]").val();
    var phone = $("input[name=phone]").val();
    var keywords = $("input[name=keywords]").val();
    var address = $("input[name=address]").val();
    var coordinate = $('[name=zb-x]').val() + ',' + $('[name=zb-y]').val();

    var imgData = $('#img_data').val();
    var class_id = $('#class_id').val();

    $.ajax({
        url : url,
        data : {
            name : name,
            contact : contact,
            url : data_url,
            phone : phone,
            keywords : keywords,
            address : address,
            coordinate : coordinate,
            imgData : imgData,
            class_id : class_id
        },
        type : 'post',
        dataType : 'json',
        success :function (i) {
            if (i.status == 1) {
                alert('申请成功');
                window.location.href = i.url;
            } else {
                alert(i.info);
            }
        }
    })
    return false;
    }
    $('input[name="zb-x"]').val(0);
    $('input[name="zb-y"]').val(0);
</script>
  </div>
 </body>
</html>