
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>{:C('ADMIN_TITLE')}</title>
    <include file="Public/style" />
  </head>

  <body>
    <include file="Public/header" />
    <div id="container">
      <include file="Public/menu" />
      <div id="content">
        <div class="container">
          <div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
              <li>
                <i class="icon-home">
                </i>
                <a href="{:U('Index/index')}">
                  后台首页
                </a>
              </li>
              <li class="current">
                <a href="{:U('MerchantClass/index')}" title="">
                  商户分类列表
                </a>
              </li>
              <li class="current">
                  <a href="__SELF__" title="">
                   <eq name="action" value="edit">
                      新增商户分类
                    <else />
                      编辑商户分类
                    </eq>
                  </a>
              </li>
            </ul>
          </div>
          <div class="page-header">
            <div class="page-title">
              <h3>
                <eq name="action" value="edit" >
                    新增商户分类
                  <else />
                    编辑商户分类
                  </eq>
              </h3>
            </div>
          </div>
          <div class="row row-bg">

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="widget box">
                <div class="widget-content">
                <eq name="action" value="edit">
                  <form class="form-horizontal row-border ajaxForm" action="{:U('update')}" method="post" onsubmit="return ajaxForm(this)">
                <else />
                  <form class="form-horizontal row-border ajaxForm" action="{:U('insert')}" method="post" onsubmit="return ajaxForm(this)">
                </eq>
                    <div class="form-group">
                      <label class="col-md-2 control-label">
                       分类名称:
                      </label>
                      <div class="col-md-10">
                        <input type="text" name="name" class="form-control" placeholder="请输入分类名称" value="{$vo.name}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 control-label">
                       分类关键词:
                      </label>
                      <div class="col-md-10">
                        <input type="text" name="keywords" class="form-control" placeholder="请输入分类关键词,英文逗号分隔" value="{$vo.keywords}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 control-label">
                       分类排序:
                      </label>
                      <div class="col-md-10">
                        <input type="text" name="id" class="form-control" placeholder="请输入分类排序" value="{$vo.id}">
                      </div>
                    </div>
                    <div class="form-group">
                    <label for="" class="col-md-2"></label>
                    <div class="col-md-10">
                      <eq name="action" value="edit">
                        <input type="hidden" name="id" value="{$vo.id}">
                      </eq>
                      <input type="submit" value="提交" class="btn btn-lg btn-success">
                    </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <include file="Public/script" />
    <include file="Public/footer" />
  </body>
</html>